---
import { supabase } from "../lib/backend";
import type { Assignment, Question } from "../lib/db";

export interface Props {
    id: number
}

let { id } = Astro.props


let obj = (await supabase.from("Assignment").select("*").eq("id", id).limit(1)).data! as Assignment[]
if(obj.length == 0) {
    location.href = "/404"
}
let title = obj[0].name

const currentUser = (await supabase.auth.getUser(Astro.cookies.get("my-access-token").value)).data.user
let owner = false
if(currentUser && (currentUser.id == obj[0].user_id! || currentUser.id == "0c3ae789-1eb4-4dbd-b76d-a18d87dbc0d3")) {
    owner = true
}

let questions: Question[] = (await supabase.from("Question").select("*").eq("assignment_id", id).order("number", { ascending: true })).data!

---
<h1 class="text-white text-4xl 2xl:text-5xl text-center my-10">{title}</h1>
<div class="flex flex-row items-center justify-center">
    {owner && <a href={`/assignment/delete/${id}`} onclick="return confirm('Are you sure?')"><button class="btn btn-error">Delete Assignment</button></a>}
</div>
{questions.map(question => (
    <div class="flex flex-col items-center">
        <div class="flex flex-col items-center gap-y-5 my-5">
            <h2 class="text-white text-xl 2xl:text-3xl text-left w-[24rem] sm:w-[40rem]">{question.number}. {question.text}</h2>
            {question.is_file ?
                (<a class="" href={"https://tzkfqozchfdkixqkvmoo.supabase.co/storage/v1/object/public/answers/" + question.answer} target="_blank">
                    <div class="flex justify-center">
                        <img width="40%" alt="Answers" src={"https://tzkfqozchfdkixqkvmoo.supabase.co/storage/v1/object/public/answers/" + question.answer}>
                    </div>
                </a>) :
                <h2 class="text-lg 2xl:text-2xl text-left w-[85%] sm:w-[36rem]"><span class=" text-blue-500">Answer: </span>{question.answer}</h2>
            }
        </div>
    </div>
))}
